.header {
    display: flex;
    background-color: #055541;
    padding: 2rem;
    color: #f2f2f2;
    justify-content: space-between;
    align-items: center;
    }
.nav ul{ 
        display: flex;
         gap: 1rem;
          list-style: none;
         }

.nav li a 
        { padding: 1.5rem;
        } 
.nav a { color:white; 
        text-decoration: none; 
        }